$white: white;
$black: #000;
$sidebar-width: 240px;
$sidebar-width-tablet: 104px;
$sidebar-width-tablet-active: 246px;
$sidebar-width-mobile: 12px;
$sidebar-width-mobile-active: 192px;
$z-index-sidebar: 1000;
$z-index-header: 1000;
$tablet-bp: 768px;
$mobile-bp: 400px;

