<aside class="sidebar" id="sidebar">
    <div class="sidebar__inner">
         <div class="sidebar__open">
            <img class="dropdown" src="assets/images/dropdown.png" alt="">
            <button class="toggle" id="burger" type="button"> 
                <span class="toggle__item"></span>
            </button>
        </div>

        <div class="sidebar__header">
            <a class="logo" href="#">
                <img class="logo__img" src="assets/images/logo.png" alt="">
                <string class="logo__text">BECO</string> 
            </a>
        </div> 

       
        <div class="sidebar__content">
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="#"> 
                        <img class="menu__icon" src="assets/images/sidebar-icon/1.png" alt="">
                        <string class="menu__text">Каталог</string> 
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#"> 
                        <img class="menu__icon" src="assets/images/sidebar-icon/2.png" alt="">
                        <string class="menu__text">Здоровье</string> 
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link active" href="#"> 
                        <img class="menu__icon" src="assets/images/sidebar-icon/3.png" alt="">
                        <string class="menu__text">Красота</string> 
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#"> 
                        <img class="menu__icon" src="assets/images/sidebar-icon/4.png" alt="">
                        <string class="menu__text">Развлечения</string> 
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#"> 
                        <img class="menu__icon" src="assets/images/sidebar-icon/5.png" alt="">
                        <string class="menu__text">Авто</string> 
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>